{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>MyMovies - Encuentra tus películas favoritas</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <header>
        <h1>MyMovies</h1>
        <nav>
            <ul>
                <li><a href="index">Página principal</a></li>
            </ul>
        </nav>
    </header>

    <div class="content-container">
        <h2>Cartelera de Películas</h2>
        <div class="recommended-gallery" id="movie-gallery">
            <button id="prev-button"><</button>
                <!-- Película 1 -->
            <div class="recommended movie-card">
                <a href="tail">
                <img src={{movies.1.poster_path}} alt="Recomendación 1">
                <div class="recommended-info">
                    <h3>{{movies.1.title}}</h3> 
                    <p>Director: {{movies.1.credits.all.5}}</p>
                    <p>Géneros: | 
                        {% for gen in movies.1.genres.all %}
                        {{gen.name}}
                        |
                        {% endfor %}
                    </p>
                </div></a>
            </div>
            <div class="recommended movie-card">
                <a href="tail2">
                <img src={{movies.2.poster_path}} alt="Recomendación 2">
                <div class="recommended-info">
                    <h3>{{movies.2.title}}</h3>
                    <p>Director: {{movies.2.credits.all.0}}</p>
                    <p>Géneros: | 
                        {% for gen in movies.2.genres.all %}
                        {{gen.name}}
                        |
                        {% endfor %}
                    </p>
                </div></a>
            </div>
            <div class="recommended movie-card">
                <a href="tail3">
                <img src={{movies.3.poster_path}} alt="Recomendación 3">
                <div class="recommended-info">
                    <h3>{{movies.3.title}}</h3>
                    <p>Director: {{movies.3.credits.all.0}}</p>
                    <p>Géneros: | 
                        {% for gen in movies.3.genres.all %}
                        {{gen.name}}
                        |
                        {% endfor %}
                    </p>
                </div></a>
            </div>

            
            <div class="recommended movie-card">
                <a href="tail4">
                <img src={{movies.4.poster_path}} alt="Recomendación 4">
                <div class="recommended-info">
                    <h3>{{movies.4.title}}</h3>
                    <p>Director: {{movies.4.credits.all.0}}</p>
                    <p>Géneros: | 
                        {% for gen in movies.4.genres.all %}
                        {{gen.name}}
                        |
                        {% endfor %}
                    </p>
                </div></a>
            </div>
            <div class="recommended movie-card">
                <a href="tail5">
                <img src={{movies.5.poster_path}} alt="Recomendación 5">
                <div class="recommended-info">
                    <h3>{{movies.5.title}}</h3>
                    <p>Director: {{movies.5.credits.all.0}}</p>
                    <p>Géneros: | 
                        {% for gen in movies.5.genres.all %}
                        {{gen.name}}
                        |
                        {% endfor %}
                    </p>
                </div></a>
            </div>
            <div class="recommended movie-card">
                <a href="tail6">
                <img src={{movies.6.poster_path}} alt="Recomendación 6">
                <div class="recommended-info">
                    <h3>{{movies.6.title}}</h3>
                    <p>Director: {{movies.6.credits.all.0}}</p>
                    <p>Géneros: | 
                        {% for gen in movies.6.genres.all %}
                        {{gen.name}}
                        |
                        {% endfor %}
                    </p>
                </div></a>
            </div>
            <button id="next-button">></button>
        </div>

        <h2>Películas Recomendadas</h2>
        <div class="recommended-gallery" id="movie-gallery-2">
            <button id="prev-button-2"><</button>
                <!-- Película 1 -->
                <div class="recommended movie-card">
                    <a href="tail">
                    <img src={{movies.1.poster_path}} alt="Recomendación 1">
                    <div class="recommended-info">
                        <h3>{{movies.1.title}}</h3>
                        <p>Director: {{movies.1.credits.all.5}}</p>
                        <p>Géneros: | 
                            {% for gen in movies.1.genres.all %}
                            {{gen.name}}
                            |
                            {% endfor %}
                        </p>
                    </div></a>
                </div>
                <div class="recommended movie-card">
                    <a href="tail2">
                    <img src={{movies.2.poster_path}} alt="Recomendación 2">
                    <div class="recommended-info">
                        <h3>{{movies.2.title}}</h3>
                        <p>Director: {{movies.2.credits.all.0}}</p>
                        <p>Géneros: | 
                            {% for gen in movies.2.genres.all %}
                            {{gen.name}}
                            |
                            {% endfor %}
                        </p>
                    </div></a>
                </div>
                <div class="recommended movie-card">
                    <a href="tail3">
                    <img src={{movies.3.poster_path}} alt="Recomendación 3">
                    <div class="recommended-info">
                        <h3>{{movies.3.title}}</h3>
                        <p>Director: {{movies.3.credits.all.0}}</p>
                        <p>Géneros: | 
                            {% for gen in movies.3.genres.all %}
                            {{gen.name}}
                            |
                            {% endfor %}
                        </p>
                    </div></a>
                </div>
    
                
                <div class="recommended movie-card">
                    <a href="tail4">
                    <img src={{movies.4.poster_path}} alt="Recomendación 4">
                    <div class="recommended-info">
                        <h3>{{movies.4.title}}</h3>
                        <p>Director: {{movies.4.credits.all.0}}</p>
                        <p>Géneros: | 
                            {% for gen in movies.4.genres.all %}
                            {{gen.name}}
                            |
                            {% endfor %}
                        </p>
                    </div></a>
                </div>
                <div class="recommended movie-card">
                    <a href="tail5">
                    <img src={{movies.5.poster_path}} alt="Recomendación 5">
                    <div class="recommended-info">
                        <h3>{{movies.5.title}}</h3>
                        <p>Director: {{movies.5.credits.all.0}}</p>
                        <p>Géneros: | 
                            {% for gen in movies.5.genres.all %}
                            {{gen.name}}
                            |
                            {% endfor %}
                        </p>
                    </div></a>
                </div>
                <div class="recommended movie-card">
                    <a href="tail6">
                    <img src={{movies.6.poster_path}} alt="Recomendación 6">
                    <div class="recommended-info">
                        <h3>{{movies.6.title}}</h3>
                        <p>Director: {{movies.6.credits.all.0}}</p>
                        <p>Géneros: | 
                            {% for gen in movies.6.genres.all %}
                            {{gen.name}}
                            |
                            {% endfor %}
                        </p>
                    </div></a>
                </div>
            <button id="next-button-2">></button>
        </div>
    </div>

    <footer>
        <p>© Proyecto 2 De programacion Web Mis Peliculas</p>
        <p>Hecho por Rosales Fuentes Raul</p>
    </footer>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const movieGallery = document.getElementById("movie-gallery");
            const movieCards = movieGallery.querySelectorAll(".movie-card");
            const prevButton = document.getElementById("prev-button");
            const nextButton = document.getElementById("next-button");

            const numMovies = movieCards.length;
            let startIndex = 0;

            function showMovies(startIndex) {
                movieCards.forEach((card, index) => {
                    if (index >= startIndex && index < startIndex + 3) {
                        card.style.display = "block";
                    } else {
                        card.style.display = "none";
                    }
                });
            }

            showMovies(startIndex);

            prevButton.addEventListener("click", () => {
                if (startIndex > 0) {
                    startIndex -= 3;
                    showMovies(startIndex);
                }
            });

            nextButton.addEventListener("click", () => {
                if (startIndex + 3 < numMovies) {
                    startIndex += 3;
                    showMovies(startIndex);
                }
            });
        });
    </script>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const movieGallery = document.getElementById("movie-gallery-2");
            const movieCards = movieGallery.querySelectorAll(".movie-card");
            const prevButton = document.getElementById("prev-button-2");
            const nextButton = document.getElementById("next-button-2");

            const numMovies = movieCards.length;
            let startIndex = 0;

            function showMovies(startIndex) {
                movieCards.forEach((card, index) => {
                    if (index >= startIndex && index < startIndex + 3) {
                        card.style.display = "block";
                    } else {
                        card.style.display = "none";
                    }
                });
            }

            showMovies(startIndex);

            prevButton.addEventListener("click", () => {
                if (startIndex > 0) {
                    startIndex -= 3;
                    showMovies(startIndex);
                }
            });

            nextButton.addEventListener("click", () => {
                if (startIndex + 3 < numMovies) {
                    startIndex += 3;
                    showMovies(startIndex);
                }
            });
        });
    </script>
</body>
</html>
